{{define "dashboard"}}
<!DOCTYPE html>
<html>
<head>
    <title>Gin + Passage</title>
</head>
<body>
    <h1>You're signed in, {{ .email }}!</h1>
    
    <style>
        body {
            text-align: center;
            font-family: sans-serif;
        }
    </style>
</body>
</html>
{{end}}
