{{define "index"}}
<!DOCTYPE html>
<html>
<head>
    <title>Gin + Passage</title>
</head>
<body>
    <h1>Welcome to my gin app!</h1>

    <passage-auth app-id="{{.AppID}}"></passage-auth>
    <script src="https://psg.so/web.js"></script>

    <style>
        body {
            text-align: center;
            font-family: sans-serif;
        }
    </style>
</body>
</html>
{{end}}
